<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

    <script src="tab-control.js"></script>
    <script src="../model/tab-1.js"></script>
    <script src="../model/tab-2.js"></script>
    <script src="../model/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="mae">
        <!--tab control-->
        <div id="tab-control">
            <div class="tab-button-selected" id="tab-button-1" onclick="changeTab(1)">Pratos</div>
            <div class="tab-button" id="tab-button-2" onclick="changeTab(2)">Ingredientes</div>
            <div class="tab-button" id="tab-button-3" onclick="changeTab(3)">Editar prato</div>
        </div>

        <!--tabs-->
        <div id="tabs">
            <div id="tab-1" class="tab-visible">
                <div id="table-1">
                    yo soy tab 1
                </div>
            </div>
            <div id="tab-2" class="tab-hidden">
                <div id="table-2">
                    yo soy tab 2
                </div>
                <div class="add-icon" onclick="addIngrediente()"> <img class="img-icon" src="../images/static/add.png" alt="add"> </div>
            </div>
            <div id="tab-3" class="tab-hidden">
                yo soy tab 3
            </div>
        </div>
    </div>
</body>
</html>