<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

    <script src="tab-control.js"></script>
    <script src="../model/tab-1.js"></script>
    <script src="../model/tab-2.js"></script>
    <script src="../model/tab-3.js"></script>
    <script src="../model/tab-4.js"></script>
    <script src="../model/tab-5.js"></script>
    <script src="../model/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="mae">
        <!--tab control-->
        <div id="tab-control">
            <div class="tab-button-selected" id="tab-button-1" onclick="changeTab(1)">Pratos</div>
            <div class="tab-button" id="tab-button-2" onclick="changeTab(2)">Ingredientes</div>
            <div class="tab-button" id="tab-button-3" onclick="changeTab(3)">Adicionar prato</div>
            <div class="tab-button" id="tab-button-4" onclick="changeTab(4)">Editar prato</div>
            <div class="tab-button" id="tab-button-5" onclick="changeTab(5)">Relatorios</div>
        </div>
        
        <!--tabs-->
        <div id="tabs">
            <!-- tab 1 -->
            <div id="tab-1" class="tab-visible">
                <h1>Pratos</h1>
                <div id="tab-1-content">
                    <div id="table-1">
                        yo soy table 1
                    </div>
                    <div id="prato-1-preview">
                    </div>
                </div>
            </div>
            <!-- tab 2 -->
            <div id="tab-2" class="tab-hidden">
                <h1>Ingredientes</h1>
                <div id="tab-2-content">
                    <div id="table-2">
                        yo soy table 2
                    </div>
                    <div class="add-button" id="add-ingr-button" onclick="addIngrediente()"> Adicionar Ingrediente </div>
                </div>
            </div>
            <!-- tab 3 -->
            <div id="tab-3" class="tab-hidden">
                <h1>Adicionar prato</h1>
                <div id="tab-3-content">
                    <form id="tab-3-form" action="" method="">
                        <!-- coluna 1 -->
                        <div class="form-3-box">
                            <div class="input-group">
                                Ingredientes:
                                <div id="table-3">
                                    Yo soy table 3
                                </div>
                            </div>
                        </div>
                        <!-- coluna 2 -->
                        <div class="form-3-box">
                            <div class="input-group">
                                Nome:
                                <input onkeyup="updatePreviewFromForm('tab-3-form', 'tab-3-preview')" class="input-t" type="text" name="nome">
                            </div>
                            <div class="input-group">
                                Descricao:
                                <textarea onkeyup="updatePreviewFromForm('tab-3-form', 'tab-3-preview')" class="input-t" type="text" name="descr"></textarea>
                            </div>
                            <div class="input-group">
                                Tamanho:
                                <span>
                                    <input onkeyup="updatePreviewFromForm('tab-3-form', 'tab-3-preview')" class="input-n" type="number" name="pes-vol">
                                    <select onchange="updatePreviewFromForm('tab-3-form', 'tab-3-preview')" name="unid">
                                        <option value="gramas">gramas</option>
                                        <option value="mililitros">mililitros</option>
                                    </select>
                                </span>
                            </div>
                            <div class="input-group">
                                <input class="add-button" type="submit" value="Adicionar Prato">
                            </div>
                        </div>
                        <!-- coluna 3 (isso esta dentro do form por moticos organizacionais) -->
                        <div class="form-3-box">
                            <div id="tab-3-preview">
            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- tab 4 -->
            <div id="tab-4" class="tab-hidden">
                <h1>Editar prato</h1>
                <div id="tab-4-noId" class="tab-4-content">
                    Nenhum prato selecionado
                </div>
                <div id="tab-4-content" class="tab-4-content-hidden">
                    <form id="tab-4-form" action="" method="">
                        <!-- coluna 1 -->
                        <div class="form-4-box">
                            <div class="input-group">
                                Ingredientes:
                                <div id="table-4">
                                    Yo soy table 4
                                </div>
                            </div>
                        </div>
                        <!-- coluna 2 -->
                        <div class="form-4-box">
                            <div class="input-group">
                                Editando:
                                <input id="form-4-id" name="id" type="number" value="" readonly>
                            </div>
                            <div class="input-group">
                                Nome:
                                <input id="form-4-nome" onkeyup="updatePreviewFromForm('tab-4-form', 'tab-4-preview')" class="input-t" type="text" name="nome">
                            </div>
                            <div class="input-group">
                                Descricao:
                                <textarea id="form-4-descr" onkeyup="updatePreviewFromForm('tab-4-form', 'tab-4-preview')" class="input-t" type="text" name="descr"></textarea>
                            </div>
                            <div class="input-group">
                                Tamanho:
                                <span>
                                    <input id="form-4-pes-vol" onkeyup="updatePreviewFromForm('tab-4-form', 'tab-4-preview')" class="input-n" type="number" name="pes-vol">
                                    <select id="form-4-unid" onchange="updatePreviewFromForm('tab-4-form', 'tab-4-preview')" name="unid">
                                        <option value="gramas">gramas</option>
                                        <option value="mililitros">mililitros</option>
                                    </select>
                                </span>
                            </div>
                            <div class="input-group">
                                <input class="add-button" type="submit" value="Adicionar Prato">
                            </div>
                        </div>
                        <!-- coluna 3 (isso esta dentro do form por moticos organizacionais) -->
                        <div class="form-4-box">
                            <div id="tab-4-preview">
            
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- tab 5 -->
            <div id="tab-5" class="tab-hidden">
                <h1>Relatorios</h1>
                <div id="tab-5-content">
                    <div id="tab-5-buttons">
                        <div class="edit-button" onclick="loadRelatorio(1)"> Tabela de comidas </div>
                        <div class="edit-button" onclick="loadRelatorio(2)"> Tabela de comidas </div>
                        <div class="edit-button" onclick="loadRelatorio(3)"> Tabela Relacional </div>
                    </div>
                    <div id="table-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>