
/* == geral == */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-image: url("../images/static/quadriculado-diagonal.png");
    background-size:  35px;
    background-color: #111;
}

#mae {
    width: 1400px;
}

/* == forms == */

input[type="text"], input[type="number"], textarea, select {
    background-color: #dddddd;
    border: 0;
    border-bottom: 2px solid;
    border-color: #222;
    padding: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.input-group {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

/* == buttons == */

.img-icon {
    width: 20px;
    height: 20px;
}

.delete-button, .edit-button, .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 7px;
    border: 0;
}

.icon {
    padding: 0px;
    width: 45px;
    height: 45px;
}

.edit-button { background-color: #6666ff; color: white; }
.edit-button:hover { background-color: #3333ee; color: white; }

.delete-button { background-color: #ee2222; color: white; }
.delete-button:hover { background-color: #bb1111; color: white; }

.add-button { background-color: #55ee55; color: white; }
.add-button:hover { background-color: #33bb33; color: white; }

/* == tabs == */

#tab-control {
    display: flex;
    justify-content: left;
    background-color: #222;
}

.tab-button, .tab-button-selected {
    font-size: 22px;
    padding: 7px;
}

.tab-button {
    background-color: #222;
    color: white;
}

.tab-button-selected {
    background-color: #fdfdfd;
    color: black;
}

.tab-visible {
    padding: 40px;
    background-color: #fdfdfd;
    display: flex;
}

.tab-hidden {
    display: none;
}

/* == tables == */

.table-1-cell,
.table-2-cell,
.table-3-cell {
    padding: 7px;
}

.table-header {
    background-color: #ff3333;
    color: white;
}

.table-row-par {
    background-color: #f9f9f9;
}

.table-row-impar {
    background-color: #f3f3f3;
}

/* == tab 1 == */

#tab-1 { flex-direction: column; }

/* == tab 2 == */

#tab-2 { flex-direction: column; }

#tab-2-content {
    display: inherit; 
    justify-content: space-between; 
    width: 100%;
}

#add-ingr-button {
    align-self: flex-start;
}

/* == tab 3 == */

#tab-3 { flex-direction: column; }

#tab-3-form {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    width: 100%;
}

.form-3-box {
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 0;
}

/* == tab 4 == */

#tab-4 { flex-direction: column; }

.tab-4-content-hidden {
    display: none;
}

tab-4-content {
    display: flex;
}

#tab-4-form {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    width: 100%;
}

.form-4-box {
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 0;
}

/* == tab 5 == */