
/* == geral == */

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-image: url("../images/static/quadriculado-diagonal.png");
    background-size:  35px;
    background-color: #111;
}

#mae {
    width: 1400px;
}

/* == icons == */

.img-icon {
    width: 20px;
    height: 20px;
}

.delete-icon, .edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 3px;
}

.edit-icon { background-color: #2398ef; }
.edit-icon:hover { background-color: #154fff; }

.delete-icon { background-color: #ee2222; }
.delete-icon:hover { background-color: #bb1111; }

/* == tabs == */

#tab-control {
    display: flex;
    justify-content: left;
    background-color: #222;
}

.tab-button, .tab-button-selected {
    font-size: 22px;
    padding: 7px;
}

.tab-button {
    background-color: #222;
    color: white;
}

.tab-button-selected {
    background-color: #fdfdfd;
    color: black;
}

.tab-visible {
    padding: 40px;
    background-color: #fdfdfd;
    display: flex;
}

.tab-hidden {
    display: none;
}

.table-header {
    background-color: aquamarine;
}

.table-row-par {
    background-color: #f9f9f9;
}

.table-row-impar {
    background-color: #f3f3f3;
}

/* == tab 1 == */

